.greaterThan65 {
  margin-bottom: 10px;
  width: 313px;
}

.input-greaterThan65 {
  height: 16px;
  border-radius: 16px;
}

.label-greaterThan65 {
  color: #666666;
  height: 17px;
  width: 313px;
}



