.greaterThan65[b-eszh4sc7zy] {
  margin-bottom: 10px;
  width: 313px;
}

.input-greaterThan65[b-eszh4sc7zy] {
  height: 16px;
  border-radius: 16px;
}

.label-greaterThan65[b-eszh4sc7zy] {
  color: #666666;
  height: 17px;
  width: 313px;
}



